<form method="post" action="{{ path('app_admin_book_page_delete', {'id': book_page.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ book_page.id) }}">
    <button class="btn btn-danger">
        <i class="align-middle" data-feather="trash-2"></i>
    </button>
</form>
